/* Common Classes */
button{
    border: none;
    outline: none;
    cursor: pointer;
}



.container{
    text-align: left;
    background-color: white;
    border-radius: 10px;
    width: 91%;
    height: 88vh;
    padding: 1.5vh 2vw;
    margin-top: 2%;
    overflow-y: auto;
}

.container h1{
    font-size: 3vw;
    position: relative;
}

.add{
    position: absolute;
    top: 15%;
    right: 2%;
    background-image: linear-gradient(to bottom right, #4b189b, #185ed0);
    padding: 7px 10px;
    width: 15%;
    color: white;
    font-size: 1.4vw;
    border-radius: 10px;
    transition: 0.3s;
}
.add:hover{
    transform: translateY(-5px);
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,0.2);
}


.class{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-top: 3%;
}

.class-box{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 20%;
    padding: 0 15px;
    padding-bottom: 2vh;
    margin-left: 1.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
.class-box h3{
    height: 20px;
    font-size: 2vw;
}
.class-box span{
    font-size: 1.3vw;
}
.class-box button{
    width: 100%;
    border-radius: 10px;
    padding: 5px 0;
    font-size: 1.5vw;
    color: white;
    background-image: linear-gradient(to bottom right, #4b189b, #185ed0);
}