*{
    user-select: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}


/* common */
.goto-btn{
    position: absolute;
    top: 6%;
    right: 3%;
    color: black;
    font-size: 2.5vw;
}


/* Main content */
.layer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin-top: 2%;
}


/* First Layer */
/* Class Box */
.class{
    background-color: white;
    border-radius: 15px;
    width: 60%;
    padding: 0 2vw;
    padding-bottom: 3vh;
    height: 320px;
    position: relative;
}

.class-inner{
    display: flex;
    width: 100%;
    margin-top: 3%;
}

.class-box{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 27%;
    padding: 0 10px;
    padding-bottom: 2vh;
    margin: 0 1%;
    margin-right: 2.5%;
}
.class-box h3{
    height: 20px;
    font-size: 1.5vw;
}
.class-box button{
    width: 100%;
    border-radius: 10px;
    padding: 5px 0;
    font-size: 1.3vw;
    color: white;
    background-image: linear-gradient(to bottom right, #4b189b, #185ed0);
}

/* Profile Box */
.profile{
    width: 25%;
    padding: 40px 1.3vw;
    background-image: linear-gradient(to bottom, #4b189b, #185ed0);
    border-radius: 10px;
    color: white;
    text-align: center;
}
.profile i{
    font-size: 7vw;
}
.profile h2{
    height: 15px;
    font-size: 1.8vw;
}
.profile h4{
    height: 2px;
    opacity: 0.9;
    font-weight: lighter;
    font-size: 1.15vw;
}


/* Second Layer */
.flex-box{
    width: 27%;
    min-height: 60vh;
    padding: 0 1.2vw;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.flex-box .goto-btn{
    top: 6%
}

.flex-box ul{
    list-style-type: none;
    padding: 0 5px;
}
.flex-box li{
    margin-top: -3%;
}

.flex-box hr{
    width: 30%;
    color: #666a6d;
}

.flex-box table{
    width: 100%;
}
.flex-box .fa-file-text, .flex-box .fa-book, .flex-box .fa-exclamation-circle{
    font-size: 2.5vw;
    color: #666a6d;
}
.flex-box .fa-book, .flex-box .fa-exclamation-circle{
    margin-top: 30%;
}
.flex-box h3{
    height: 10px;
}
.flex-box span{
    opacity: 0.8;
}
.flex-box a{
    color: black;
    font-size: 2vw;
}



@media only screen and (max-width:1100px) {
    .goto-btn{
        top: 8%;
    }
    .class{
        height: 290px;
    }
    .class h1{
        font-size: 3vw;
    }

    .class-box{
        width: 28%;
    }
    .class-box h3{
        font-size: 1.7vw;
    }

    .profile{
        width: 27%;
    }
    .profile i{
        font-size: 7.5vw;
    }
    .profile h2{
        font-size: 2vw;
    }
    .profile h4{
        font-size: 1.4vw;
    }

    .flex-box{
        width: 42%;
        margin: 0 2%;
        margin-bottom: 1.5%;
    }
    .flex-box .goto-btn{
        font-size: 2.7vw;
        top: 5%;
    }
    #wrap{
        flex-flow: wrap;
        justify-content: left;
    }

    .icon-col{
        width: 15%;
    }

    .flex-box .fa-file-text, .flex-box .fa-book, .flex-box .fa-exclamation-circle{
        font-size: 3.3vw;
    }
}


@media only screen and (max-width:800px) {
    .class{
        width: 90%;
    }
    .profile{
        display: none;
    }
}